In [1]:
#collect data using API

In [2]:
import requests

In [3]:
job_url="https://jobs.github.com/positions.json?"

In [4]:
job_data=requests.get(job_url)
job_data

In [6]:
def number_of_jobs(tech):
    baseurl="https://jobs.github.com/positions.json?"
    total_jobs=0
    count_per_page=50
    pg=1
    if tech=="C#" or tech=='c#':
        tech='C%23'
    if tech=="C++" or tech=='c++':
        tech='C%2B%2B'
    while count_per_page==50:
        final_url=baseurl+'description='+tech+'&page='+str(pg)
        response=requests.get(final_url)
        response_in_json=response.json()
        count_per_page=len(response_in_json)
        for job in response_in_json:
            total_jobs+=1
        pg+=1
    if tech=="C%23" or tech=='c%23':
        tech='C#'
    if tech=="C%2B%2B" or tech=='c%2B%2B':
        tech='C++'

    return tech,total_jobs

In [7]:
tech_list = ['C','C#','C++','Java', 'JavaScript','Python','Scala','Oracle','SQL Server','MySQL Server','PostgreSQL','MongoDB']

In [8]:
from openpyxl import *
wb=Workbook()
wa=wb.active

In [9]:
wa.append(['Technology','Number of jobs'])

In [10]:
for tech in tech_list:
    answer=number_of_jobs(tech)
    wa.append([answer[0],answer[1]])

In [11]:
wb.save('capstone_data_excel.xlsx')

In [12]:
#web scraping

In [13]:
from bs4 import BeautifulSoup 
import requests  
import pandas as pd

In [14]:
web_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

In [15]:
web_data= requests.get(web_url).text

In [16]:
soup = BeautifulSoup(web_data,"html5lib")

In [17]:
table = soup.find('table')

In [18]:
final_data=[]
for row in table.find_all('tr'):
    cols=row.find_all('td')
    Program_language=cols[1].getText()
    Avg_annual_sal=cols[3].getText()
    final_data.append([Program_language,Avg_annual_sal])

In [19]:
df=pd.DataFrame(final_data,columns=['Program Language','Avg annual sal'])
final_df=df.drop(index=0)

In [20]:
final_df.to_csv("web_data_csv.csv")

In [21]:
final_df

   Program Language Avg annual sal
1            Python       $114,383
2              Java       $101,013
3                 R        $92,037
4        Javascript       $110,981
5             Swift       $130,801
6               C++       $113,865
7                C#        $88,726
8               PHP        $84,727
9               SQL        $84,793
10               Go        $94,082